In [1]:
Employee={"Name":"Arun",
         "Age":25,
         "Salary":30000,
         "Company":"TCS"}
Employee

{'Name': 'Arun', 'Age': 25, 'Salary': 30000, 'Company': 'TCS'}

In [2]:
type(Employee)

dict

# disctionary has key and value pair data structure

In [5]:
Employee["Name"]

'Arun'

In [6]:
Employee["Company"]

'TCS'

# To Access the value in a dictionary we can get by using the key but the vise versa is not possible

In [8]:
del Employee["Name"]
Employee

{'Age': 25, 'Salary': 30000, 'Company': 'TCS'}

In [9]:
Employee["Name"] = "Arun"
Employee

{'Age': 25, 'Salary': 30000, 'Company': 'TCS', 'Name': 'Arun'}

# Dictionaries are mutabale so we can change it with keys after they are created